.project
ReferencedPackages
salesforce.schema
src/applications
src/applications
src/communities
src/escalationRules
src/letterhead
src/queues
src/settings
src/weblinks
src/appMenus
src/components
src/flexipages
src/objects
src/quickActions
src/sharingSets
src/workflows
src/vapprovalProcesses
src/connectedapps
src/flows
src/objectTranslations
src/remoteSiteSettings
src/siteDotComSites
src/assignmentRules
src/customApplicationComponents
src/groups
src/package.xml
src/reports
src/customMetadata
src/homePageComponents
src/reportTypes
src/authproviders
src/customPermissions
src/homePageLayouts
src/permissionsets
src/roles
src/tabs
src/callCenters
src/datacategorygroups
src/posttemplates
src/samlssoconfigs
src/testSuites
src/email
src/layouts
src/profiles
src/scontrols
